#footer {
    background: #fff;
    border-top: 2px solid #dcdcdc;
    .inner {
        height: 330px;
        padding: 55px 0;
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: #999;
            position: absolute;
            left: 0;
            top: 110px;
        }
    }
}
