.main {
    .con2 {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        background-image: url(https://adventure.lotteworld.com/common_mus/images/icon/mainCon1_bg.jpg);
        h2 {
            color: #fff;
        }
        h2 + p {
            color: #fff;
        }
    }
}
