.main {
    .con4 {
        .left {
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    a {
                        display: block;
                        font-size: 18px;
                        width: 420px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
