.main {
    .con3 {
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: cover;
        background-image: url(https://adventure.lotteworld.com/common_mus/images/icon/mainCon2_bg.jpg);
    }
}
